@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

body {
    font-family: 'Space Grotesk', sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table tr:nth-child(odd) {
    background-color: #F1F1F1;
}
table tr th {
    background-color: hsl(260, 63%, 31%);
    color: hsl(260, 63%, 90%);
    padding: 15px;
}
table tr td {
    text-align: center;
    padding: 10px;
}
table tr td button {
    background-color: hsl(260, 63%, 31%);
    color: hsl(260, 63%, 90%);
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s;
}
table tr td button:hover {
    color: hsl(260, 63%, 31%);
    background-color: hsl(260, 63%, 90%);
}
table tr td img {
    width: 40px;
}